#sub_navigation= render_navigation
%h3 Home
%h2 Products
%script{:src=>"//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.12/chosen.jquery.min.js"}
%link{:rel=>"stylesheet", :href => "//cdn.jsdelivr.net/chosen/0.9.11/chosen.css"}

= simple_form_for :preference do |f|
  = f.select :page_size, [10,20,50], :selected => @admin_prefs['page_size']

%div{:id=>"paginator"}
  = paginate @products, :remote => true



%table

  %thead
    %th
      = link_to 'Model', admin_products_path+'?&prefs=1&sort=model&order=-1',  {:id => 'model_sort'}
    %th
      = link_to 'Brand', admin_products_path+'?&prefs=1&sort=brand&order=-1', {:id => 'brand_sort'}
    %th
      = link_to 'Tier', admin_products_path+'?&prefs=1&sort=tier&order=-1', {:id => 'tier_sort'}
    %th
  %tbody{:id=>"products"}
    = render @products
